DATATYPES

It is used to indicate what type of data is stored in a variable. Python does not require to specify datatype explicitly, it reconize the datatype based on the value stored in variable. The different kinds of datatypes are as follows:

1. int : It is used to store integer values.
2. float : It is used to store decimal values.
3. str : It is used to store charaters.
4. complex : It is used to store real and imaginary numbers.
5. bool : It is used to store true or false.

type() : This operator is used to know the datatype of variable.

In [3]:
#Example for different datatypes

a = 10
b = 8.93
c = "PROGRAMMING WORLD"
d = "R"
e = 3+4j
f = True

print("The datatype of a is :", type(a))
print("The datatype of b is :", type(b))
print("The datatype of c is :", type(c))
print("The datatype of d is :", type(d))
print("The datatype of e is :", type(e))
print("The datatype of f is :", type(f))

The datatype of a is : <class 'int'>
The datatype of b is : <class 'float'>
The datatype of c is : <class 'str'>
The datatype of d is : <class 'str'>
The datatype of e is : <class 'complex'>
The datatype of f is : <class 'bool'>

STRINGS

Any values enclosed within ("",'',''' ''') is known as a String.

*. When a string consists of both ('') and ("") in it we use triple quotes.
 example : I'am in love with "KERALA"

In [7]:
#Example for String. Different knids of quotes used in different situations

str1 = ''' I'am in love with "KERALA"'''
print(str1)

str2 = "I'am INDIAN"
print(str2)

str3 = "'Data Analytics' is future"
print(str3)

 I'am in love with "KERALA"
I'am INDIAN
'Data Analytics' is future

STRING FUNCTIONS

In [40]:
# len() : It is used to find the length of string. This function also counts the whitespaces.

Str = "Data Analytics with Python"
print("Lenght : ", len(Str))

Lenght :  26

In [41]:
#upper() : It is used to convert all the letters in the string into uppercase.
print("UpperCase : " ,Str.upper())

UpperCase :  DATA ANALYTICS WITH PYTHON

In [42]:
#lower() : It is used to convert all the letters in the string into lowercase.
print("LowerCase : ",Str.lower())

LowerCase :  data analytics with python

In [43]:
#capitalize() : It is used to convert only the first letter of string into uppercase.
print("Captalize : " ,Str.capitalize())

Captalize :  Data analytics with python

In [44]:
#strip() : It is used to remove whitespaces from both the ends of a string.
str1 = "        Data Analytics with Python       "
print("Strip : ",str1.strip())

Strip :  Data Analytics with Python

In [45]:
#lstrip() : It is used to remove whitespaces from left ends of a string.
print("Left Strip : ",str1.lstrip())

Left Strip :  Data Analytics with Python

In [46]:
#rstrip() : It is used to remove whitespaces from right ends of a string.
print("Right Strip : ",str1.rstrip())

Right Strip :          Data Analytics with Python

In [47]:
#split() : It is used to divide a string based on some character.
print("Split : ", Str.split(" "))

Split :  ['Data', 'Analytics', 'with', 'Python']

In [48]:
#replace() : It is used to replace one charater with another.
print("Replace : " ,Str.replace('a','o'))

Replace :  Doto Anolytics with Python

In [49]:
#join() : It is used to join each letter of a string with the letter specified.
print('Join : ' , ":".join(Str))

Join :  D:a:t:a: :A:n:a:l:y:t:i:c:s: :w:i:t:h: :P:y:t:h:o:n

In [51]:
#find() : It returns the index position of letter specified.
print("Find : " ,Str.find('D'))

Find :  0

In [52]:
#swapcase() :It is used to change case of a string on upper to lower or lower to upper.
print("Swap Case : " ,Str.swapcase())

Swap Case :  dATA aNALYTICS WITH pYTHON

In [54]:
#count() : It is used to count the number of time particular letter occured into a string.
print("Count : " ,Str.count('n'))

Count :  2

In [56]:
# isalnum() : It is used to check wheather the given string is alphanumeric or not. It returns True or False.
string = "raf123"
print("AlphaNumeric : ",string.isalnum())

AlphaNumeric :  True

In [57]:
# isdigit() : It is used to check wheather all the letter in a string is numbers.It returns True or False.
string1 = "09875431"
print("IsDigit : " ,string1.isdigit())

IsDigit :  True

In [58]:
#isalpha() : It is used to check wheather all letter in a string is alphabhets.It returns True or False.
print("IsAlpha : " ,Str.isalpha())

IsAlpha :  False

In [59]:
#center() : This function is used to algin the string in center.
print("Center Algin : ",Str.center(100))

Center Algin :                                       Data Analytics with Python