**CONTROL STATEMENTS**

if statement: It checks for the condition if the condition is true only then the statements inside the if block is executed.

**SYNTAX**

if condition:
   
      //Statements to be executed

In [2]:
# Example for if statement
a = 5
if a <= 10:
  print("THE VALUE WAS :  ",a)

#Explaination : As in the above example the value of 'a=5' whcih is less than 10. So the statement inside the block will execute.

THE VALUE WAS :   5

* if - else Statements : It checks for the condition , if the is true the statements inside the if block will executed . If the condition is false then statements under else block will be executed.

**SYNTAX**

if condition :                   
    
    //statments to be executed when condition is true

else :                                              
      
    //statements to executed when condition is false

In [5]:
# Example for if - else statement. To find largest of  2 no's

a = 10
b = 20
if a > b:
  print(a,"  is the largest value")
else:
  print(b ," is the largest value")

#in the above example the value of a = 10 and b = 20. As the value of  'a' less than 'b' so the statement in else block will execute.

20  is the largest value

* elif statements : It allows the programmer to give multiple conditons.
1. First the 'if condition' is checked , if the condition is true then the statement in if block will be executed.

2. If the 'if condition' is false then the condition in elif is checked, and if it returns true then statements inside it will execute.

3. Therefore a program can have mulitple elif statements as per the requirement.

4. else block is executed only when all the above conditions are false.

In [6]:
#Example program to print the grades of students

marks = 45

if marks >=85:
  print("Destinction")
elif marks >= 75:
  print("First Class")
elif marks >= 65:
  print("Second Class")
elif marks >= 45:
  print("Pass")
else:
  print("Fail")

#in the above program the value for is 'marks = 45' it will compared marks will all the conditions and as the third elif condition is true the statement inside it will executed.

Pass

**NESTED IF**

Having one if statement inside another if statement is known as **Nesting of If**.

**SYNTAX**

if condition:

    \\statements

    if condition:

          \\statements

In [40]:
#Example for nested if

i = 20
if i >= 10:
  print(i)
  if i%2 != 0 :
    print(i," is a odd number")
  else:
    print(i, "is an even number")

20
20 is an even number

**LOOPING STATEMENTS**

* for loop : It is used to execute a statement again and again until the condition is true. It is used to travsel into the data structures like list, tuple , set and dictionary. It is used when the number of iterations are unknown.

**SYNTAX**

for val in sequence:
    # statement(s)

In [10]:
#Example program to print the items of list using loops

print("SYLABBUS FOR DATA SCIENCE")
print("\n")
l1 = ['Python','SQL','Basic Maths','Machine Learning','Data Processing']
for i in l1:
  print(i)

SYLABBUS FOR DATA SCIENCE


Python
SQL
Basic Maths
Machine Learning
Data Processing

In [12]:
#Example program to print numbers from in reverse

print("Reverse Numbers")
print("\n")
for i in range(9,0,-1):
  print(i)

Reverse Numbers


9
8
7
6
5
4
3
2
1

**While Loop**

It is used to execute a statement again and again untill the condition becomes false.It is used when the number of iteration are known.

**SYNTAX**

while condition :  

     \\Statements

In [15]:
#Example program to print a statement 10 times

i = 0
while i < 10:
  print("LEARN MORE AND EARN MORE\n")
  i = i + 1

LEARN MORE AND EARN MORE

LEARN MORE AND EARN MORE

LEARN MORE AND EARN MORE

LEARN MORE AND EARN MORE

LEARN MORE AND EARN MORE

LEARN MORE AND EARN MORE

LEARN MORE AND EARN MORE

LEARN MORE AND EARN MORE

LEARN MORE AND EARN MORE

LEARN MORE AND EARN MORE

**Nested Loops**

Nested For Loop : placing one for loop inside another for loop is called **Nesting of For loop.**

**SYNTAX**

for var in range():
  
    \\statements
    
    for var in range():
      
         \\statements

In [37]:
#example for nested loop

list1 = ['monday','tuesday','wednesday','thursday','friday','saturday']
for j in range(1,5):
  print(j, "week")
  for i in list1:
    print(i)

1 week
monday
tuesday
wednesday
thursday
friday
saturday
2 week
monday
tuesday
wednesday
thursday
friday
saturday
3 week
monday
tuesday
wednesday
thursday
friday
saturday
4 week
monday
tuesday
wednesday
thursday
friday
saturday

**JUMPING STATEMENTS**

It is used to transfer the control from one part of program to another. There are 3 jumping loop statements namely:

1. break : It is used to terminate the execution of program.

2. continue : It is used skip only a particular iteration.

3. pass : It indicates to do nothing.

In [18]:
#Example for break statements

i = 0
while i <= 5:
  print(i)
  i = i + 1
  break

#In the given program as soon as break statement executes the program will stop execution

0

In [24]:
#Example for continue statements

for i in range(0,9):
  if i%2 == 0:
    continue
  print(i)

# in the above program whenever a number is divisible by 2 it will be skipped.

1
3
5
7

In [27]:
#Example for pass statements
i = 1
if i == 10:
  print(i)
else:
  pass

#as the value of i is not 10 the else block will execute. As we have given pass nothing will be printed when condition is not satisfied.